*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:linear-gradient(90deg,#4A26B9,#737AE1);
}
.wrapper{
    width:1200px;
    
}

.main-cointainer{
    width:50%;
    margin:50px;
    padding:30px;
}
h1{
    margin:10px 0px;
    font-family:'Arial';
    color:white;
    
}
#age{
    color:yellow;
}
.big-box{
    
    border-radius:5px;
    padding:20px;
    background:rgba(255,255,255,0.5);
    width:60%;
}

#date{
    width:70%;
    padding:10px;
    border:1px solid white;
    background:white;
    border-radius:5px;
    cursor:pointer;
    outline:0;
}

#calculate{
    width:25%;padding:10px;
    border:1px solid yellow;
    background:yellow;
    border-radius:5px;
    margin-left:10px;
    cursor:pointer;
    opacity:0.8;
}

.danny{
    margin:20px 0px;
    color:white;
}
span{
    color:yellow;
}